
@{
    ViewBag.Title = "EmailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailConfirmation</h2>

@using (Html.BeginForm("SearchHotel","Bookings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (@ViewBag.Result != null)
    {
        <div class="alert alert-info">@ViewBag.Result</div>
    }

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Close" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

